<div class="my-5">

  <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Descripciones -->
    <h5 class="mb-3 text-light">Alumnos que contribuyeron en esta página: </h5>

    <div class="row mb-3">
      <div class="col d-flex align-items-center justify-content-center">
        <p class="me-3">Arely Zuleika Espino Dávalos</p>
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/profile.php?id=100006241845858" role="button" target="_blank">
        <i class="fab fa-facebook-f"></i></a>
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Moonrise777" role="button" target="_blank">
        <i class="fab fa-github"></i></a>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col d-flex align-items-center justify-content-center">
        <p class="me-3">Axel Arturo Paredes Huerta</p>
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/axel.paredes.5076" role="button" target="_blank">
        <i class="fab fa-facebook-f"></i></a>
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/AxelParedes" role="button" target="_blank">
        <i class="fab fa-github"></i></a>
      </div>
    </div>

  </div>
  <!-- Grid container -->

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="text-white" href="https://www.uaa.mx/portal/" target="_blank">Universidad Autónoma de Aguascalientes</a>
    2024
  </div>

</footer>

</div>
<!-- End of container -->
