<div>
    <h2>Consulta el Clima</h2>
    <label for="location">Selecciona un Estado:</label>
    <select id="location" [(ngModel)]="selectedLocation">
      <option *ngFor="let location of locations" [ngValue]="location">{{ location.name }}</option>
    </select>
    <button (click)="getWeather()">Consultar Clima</button>
  </div>
  
  <div *ngIf="weatherData">
    <h3>Datos del Clima en {{ weatherData.city }}, {{ weatherData.country }}</h3>
    <p>Longitud: {{ weatherData.lon }}</p>
    <p>Latitud: {{ weatherData.lat }}</p>
    <p>Descripción: {{ weatherData.description }}</p>
    <p>Sensación térmica: {{ weatherData.temp.current | number:'1.0-2' }} °C / {{ weatherData.temp.currentF | number:'1.0-2' }} °F</p>
    <p>Temperatura Mínima: {{ weatherData.temp.min | number:'1.0-2' }} °C / {{ weatherData.temp.minF | number:'1.0-2' }} °F</p>
    <p>Temperatura Máxima: {{ weatherData.temp.max | number:'1.0-2' }} °C / {{ weatherData.temp.maxF | number:'1.0-2' }} °F</p>
    <p>Humedad: {{ weatherData.humidity }} %</p>
    <p>Nubes: {{ weatherData.clouds }} %</p>
  </div>
  