<br>
<div class="body">
  <fieldset>
    <label style="--_img: url(https://i.postimg.cc/SQgszQVG/rain.jpg)">
      <input type="radio" name="images" >
    </label>
    <label style="--_img: url(https://i.postimg.cc/8kXpzKPK/sunny.jpg)">
      <input type="radio" name="images" >
    </label>
    <label style="--_img: url(https://i.postimg.cc/HLTD2Xk8/temperate.jpg)">
      <input type="radio" name="images"  checked>
    </label>
    <label style="--_img: url(https://i.postimg.cc/tCL9hs6F/remolino.jpg)">
      <input type="radio" name="images" >
    </label>
    <label style="--_img: url(https://i.postimg.cc/htTcMK86/storm.jpg)">
      <input type="radio" name="images" >
    </label>
  </fieldset>
</div>
